.block {
    width: 400px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #ffffff;
    border-radius: px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    background-color:transparent;
    color: #ffffff96;
    font-weight: bold;
    font-size: 35px;
}

.block:hover {
    transform: scale(1.05);
    border: none;
    color: #ffffff;

}


p {
    margin-bottom: 5px;
}